<div class="px-2 py-1 mt-2 bg-info/50">
  <span class="font-semibold"><?= i18n.trans('stage.label') ?> </span><span><?= stage_name ?></span>
</div>

<div class="px-2 py-1">
  <span class="font-semibold"><?= i18n.trans('stage.status') ?> </span>
  <span id="stage_status_badge"><?!= include('templates/inc.status_badge', {'type': 'stage', 'status': status, 'i18n': i18n}) ?></span>
</div>

<div class="px-2 py-1">
  <span class="font-semibold"><?= i18n.trans('stage.submitted_by') ?> </span>
  <span class="text-sm" data-submitted-by><?= submitted_by ?></span>
</div>

<div class="px-2 py-1">
  <span class="font-semibold"><?= i18n.trans('stage.submitted_at') ?> </span>
  <span data-submitted-at data-timezone><?= submitted_at ?></span>
</div>
