<div class="card-body relative">
  <div class="absolute top-1 left-2 font-bold text-md opacity-50"><?= item.number ?></div>
  <div class="card-title">
    <?!= include('templates/inc.status_badge', {'type': 'checklist', 'status': item.status, 'i18n': i18n}) ?>
    <?= item.name ?> 
  </div>
  <p><?!= item.procedure.replaceAll(/\n/g, '<br>') ?></p>
  

  <? if (item.notes !== '') { ?>
    <div class="chat chat-end">
      <div class="chat-bubble text-xs"><?!= item.notes.replaceAll(/\n/g, '<br>') ?></div>
    </div>
  <? } ?>
  
  <? if (stageStatus.toLowerCase() !== 'completed') { ?>
    <div class="absolute top-1 right-1 opacity-50">
      <button data-btn-notes class="btn btn-xs btn-square btn-default" onclick="ChecklistProcessor.notesModalShow('<?= item.number ?>', '<?= item.row_index ?>', this);">
        <svg width="24px" height="24px" viewBox="0 0 0.96 0.96" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.72 0.12h0.12a0.03 0.03 0 0 1 0.03 0.03v0.75a0.03 0.03 0 0 1 -0.03 0.03H0.12a0.03 0.03 0 0 1 -0.03 -0.03V0.15a0.03 0.03 0 0 1 0.03 -0.03h0.03m0.21 0h0.15M0.27 0.45h0.21m-0.21 0.12h0.42M0.27 0.69h0.42M0.36 0.18a0.03 0.03 0 0 1 -0.03 0.03H0.27a0.03 0.03 0 0 1 -0.03 -0.03V0.06a0.03 0.03 0 0 1 0.03 -0.03h0.06a0.03 0.03 0 0 1 0.03 0.03zm0.36 0a0.03 0.03 0 0 1 -0.03 0.03h-0.06a0.03 0.03 0 0 1 -0.03 -0.03V0.06a0.03 0.03 0 0 1 0.03 -0.03h0.06a0.03 0.03 0 0 1 0.03 0.03z" stroke="#000000" stroke-width="0.06" stroke-linecap="round" stroke-linejoin="round"/></svg>
      </button>
    </div>
  <? } ?>
  
  <div class="flex font-semibold">
    <div class="w-1/2 text-left">
      <? if (item.to_fix_date !== '') { ?>
        <?= i18n.trans('checklist.expected_fix_date') ?> <span class="badge badge-warning"><?= item.to_fix_date ?></span>
      <? } ?>
    </div>
    <div class="w-1/2 text-right">
      <? if (item.fixed_date !== '') { ?>
        <?= i18n.trans('checklist.fixed_date') ?> <span class="badge badge-success"><?= item.fixed_date ?></span>
      <? } ?>
    </div>
  </div>
  
  <div class="card-actions justify-center">
    <? if (stageStatus.toLowerCase() !== 'completed') { ?>
      <? if (item.status === '') { ?>
        <button class="btn w-32 md:w-1/3 btn-success" data-btn-pass="<?= item.row_index ?>" onclick="ChecklistProcessor.batchPass('<?= item.number ?>', '<?= item.row_index ?>', this);"><?= i18n.trans('checklist.pass_btn') ?></button>
        <button class="btn w-32 md:w-1/3 btn-error" onclick="ChecklistProcessor.failModalShow('<?= item.number ?>', '<?= item.row_index ?>', this);"><?= i18n.trans('checklist.fail_btn') ?></button>

      <? } else if (item.status === 'failed') { ?>
        <button class="btn btn-wide btn-warning" onclick="ChecklistProcessor.fixFailed('<?= item.number ?>', '<?= item.row_index ?>', this);"><?= i18n.trans('checklist.fix_now_btn') ?></button>

      <? } else if (item.status === 'passed' && item.to_fix_date === '') { ?>
        <button class="btn btn-wide btn-default" onclick="ChecklistProcessor.revertPassed('<?= item.number ?>', '<?= item.row_index ?>', this);"><?= i18n.trans('checklist.revert_btn') ?></button>

      <? } ?>
    <? } ?>
  </div>

</div>